<div class="container mt-3">
  <h4>{{ id ? 'Editar' : 'Nova' }} Atividade Médica</h4>

  <form [formGroup]="form" (ngSubmit)="salvar()">
  <div class="mb-3">
  <label class="form-label">Início</label>
  <input type="datetime-local" class="form-control" formControlName="inicio">
</div>

<div class="mb-3">
  <label class="form-label">Término</label>
  <input type="datetime-local" class="form-control" formControlName="termino">
</div>

<div class="mb-3">
  <label class="form-label">Tipo</label>
  <select class="form-select" formControlName="tipoAtividade">
    <option value="Consulta">Consulta</option>
    <option value="Cirurgia">Cirurgia</option>
  </select>
</div>

<div class="mb-3">
  <label class="form-label">Paciente</label>
  <select class="form-select" formControlName="pacienteId">
    <option value="">Selecione</option>
    <option *ngFor="let p of pacientes" [value]="p.id">{{ p.nome }}</option>
  </select>
</div>

<div class="mb-3">
  <label class="form-label">Médico</label>
  <select class="form-select" formControlName="medicos" multiple>
    <option *ngFor="let m of medicosList" [value]="m.id">{{ m.nome }} - {{ m.crm }}</option>
  </select>
</div>

    <!-- Botões -->
    <div class="d-flex gap-2">
      <button class="btn btn-primary" type="submit" [disabled]="loading">{{ loading ? 'Salvando...' : 'Salvar' }}</button>
      <button class="btn btn-secondary" type="button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
